*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-section{
    width:420px;
    height:555px;
    border:1px solid black;
}

.inputExpression{
    display: flex;
    height: 80px;
    font-size: 40px;
    justify-content: flex-end;
    margin:0px 10px;
}
.result{
    display: flex;
    height: 70px;
    font-size: 30px;
    justify-content: flex-end;
    margin: 0px 10px;
}
button{
    width:100px;
    height:80px;
    font-size: 30px;
}
.allButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}